In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [50]:
df=pd.read_excel("Test_set.xlsx")

In [51]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [52]:
df.shape

(2671, 10)

In [53]:
df.nunique()

Airline             11
Date_of_Journey     44
Source               5
Destination          6
Route              100
Dep_Time           199
Arrival_Time       704
Duration           320
Total_Stops          5
Additional_Info      6
dtype: int64

In [54]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
dtype: object

In [55]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info

In [56]:
df.duplicated().sum()

26

In [57]:
df.drop_duplicates(inplace=True)

In [58]:
df.shape

(2645, 10)

In [59]:
df.drop(columns="Route", axis=1, inplace=True)

In [60]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,06:20,10:20,4h,1 stop,No info

In [61]:
df.describe()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
count,2645,2645,2645,2645,2645,2645,2645,2645,2645
unique,11,44,5,6,199,704,320,5,6
top,Jet Airways,9/05/2019,Delhi,Cochin,10:00,19:00,2h 50m,1 stop,No info
freq,886,143,1127,1127,61,112,121,1427,2126

In [62]:
df["day"]=df["Date_of_Journey"].str.split("/").str[0]
df["month"]=df["Date_of_Journey"].str.split("/").str[1]
df["year"]=df["Date_of_Journey"].str.split("/").str[2]

In [63]:
df["day"]=df["day"].astype(int)
df["month"]=df["month"].astype(int)
df["year"]=df["year"].astype(int)

In [64]:
df.dtypes

Airline            object
Date_of_Journey    object
Source             object
Destination        object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
day                 int64
month               int64
year                int64
dtype: object

In [65]:
df.head(2)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,day,month,year
0,Jet Airways,6/06/2019,Delhi,Cochin,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,06:20,10:20,4h,1 stop,No info,12,5,2019

In [66]:
df["Arrival_hours"]=df["Arrival_Time"].str.split(" ").str[0].str.split(":").str[0]

In [67]:
df["Arrival_mins"]=df["Arrival_Time"].str.split(" ").str[0].str.split(":").str[1]

In [68]:
df["Arrival_hours"]=df["Arrival_hours"].astype(int)
df["Arrival_mins"]=df["Arrival_mins"].astype(int)

In [69]:
df.drop(columns=["Arrival_Time","Date_of_Journey"], axis=1, inplace=True)

In [70]:
df.head(2)

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,day,month,year,Arrival_hours,Arrival_mins
0,Jet Airways,Delhi,Cochin,17:30,10h 55m,1 stop,No info,6,6,2019,4,25
1,IndiGo,Kolkata,Banglore,06:20,4h,1 stop,No info,12,5,2019,10,20

In [71]:
df["Dep_hours"]=df["Dep_Time"].str.split(":").str[0]
df["Dep_mins"]=df["Dep_Time"].str.split(":").str[1]

In [72]:
df["Dep_hours"]=df["Dep_hours"].astype(int)
df["Dep_mins"]=df["Dep_mins"].astype(int)

In [73]:
df.dtypes

Airline            object
Source             object
Destination        object
Dep_Time           object
Duration           object
Total_Stops        object
Additional_Info    object
day                 int64
month               int64
year                int64
Arrival_hours       int64
Arrival_mins        int64
Dep_hours           int64
Dep_mins            int64
dtype: object

In [74]:
df["Duration_hours"]=df["Duration"].str.split(" ").str[0].str.split("h").str[0]

In [75]:
df["Duration_mins"]=df["Duration"].str.split(" ").str[1].str.split("m").str[0]

In [76]:
df["Duration_mins"].value_counts()

30    369
20    261
45    254
50    231
15    229
35    210
25    205
55    203
40    165
5     144
10    122
Name: Duration_mins, dtype: int64

In [77]:
df["Duration_mins"].isnull().sum()

252

In [78]:
df["Duration_mins"].fillna(0, inplace=True)

In [79]:
df["Duration_mins"].isnull().sum()

0

In [80]:
df.head(2)

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Additional_Info,day,month,year,Arrival_hours,Arrival_mins,Dep_hours,Dep_mins,Duration_hours,Duration_mins
0,Jet Airways,Delhi,Cochin,17:30,10h 55m,1 stop,No info,6,6,2019,4,25,17,30,10,55
1,IndiGo,Kolkata,Banglore,06:20,4h,1 stop,No info,12,5,2019,10,20,6,20,4,0

In [81]:
df.dtypes

Airline            object
Source             object
Destination        object
Dep_Time           object
Duration           object
Total_Stops        object
Additional_Info    object
day                 int64
month               int64
year                int64
Arrival_hours       int64
Arrival_mins        int64
Dep_hours           int64
Dep_mins            int64
Duration_hours     object
Duration_mins      object
dtype: object

In [82]:
df["Duration_hours"]=df["Duration_hours"].str.split("m").str[0]

In [83]:
df["Duration_hours"]=df["Duration_hours"].astype(int)
df["Duration_mins"]=df["Duration_mins"].astype(int)

In [84]:
df.dtypes

Airline            object
Source             object
Destination        object
Dep_Time           object
Duration           object
Total_Stops        object
Additional_Info    object
day                 int64
month               int64
year                int64
Arrival_hours       int64
Arrival_mins        int64
Dep_hours           int64
Dep_mins            int64
Duration_hours      int64
Duration_mins       int64
dtype: object

In [85]:
df.drop(columns=["Dep_Time","Duration","Additional_Info"], axis=1, inplace=True)

In [86]:
df.head(2)

,Airline,Source,Destination,Total_Stops,day,month,year,Arrival_hours,Arrival_mins,Dep_hours,Dep_mins,Duration_hours,Duration_mins
0,Jet Airways,Delhi,Cochin,1 stop,6,6,2019,4,25,17,30,10,55
1,IndiGo,Kolkata,Banglore,1 stop,12,5,2019,10,20,6,20,4,0

In [87]:
df["Total_Stops"].value_counts()

1 stop      1427
non-stop     846
2 stops      360
3 stops       11
4 stops        1
Name: Total_Stops, dtype: int64

In [88]:
df["Total_Stops"].isnull().sum()

0

In [89]:
df["Total_Stops"]=df["Total_Stops"].map({"non-stop":0, "1 stop":1, "2 stops":2, 
                                         "3 stops":3,"4 stops":4})

In [90]:
df.head(2)

,Airline,Source,Destination,Total_Stops,day,month,year,Arrival_hours,Arrival_mins,Dep_hours,Dep_mins,Duration_hours,Duration_mins
0,Jet Airways,Delhi,Cochin,1,6,6,2019,4,25,17,30,10,55
1,IndiGo,Kolkata,Banglore,1,12,5,2019,10,20,6,20,4,0

In [91]:
df.dtypes

Airline           object
Source            object
Destination       object
Total_Stops        int64
day                int64
month              int64
year               int64
Arrival_hours      int64
Arrival_mins       int64
Dep_hours          int64
Dep_mins           int64
Duration_hours     int64
Duration_mins      int64
dtype: object

In [102]:
from sklearn.preprocessing import OneHotEncoder

In [103]:
encoder=OneHotEncoder()

In [104]:
encoder.fit_transform(df[["Destination","Airline","Source"]]).toarray()

array([[0., 1., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.]])

In [105]:
df_encoded=pd.DataFrame(encoder.fit_transform(df[["Destination","Airline","Source"]]).toarray(), 
             columns=encoder.get_feature_names_out())

In [107]:
pd.concat([df,df_encoded],axis=1)

,Airline,Source,Destination,Total_Stops,day,month,year,Arrival_hours,Arrival_mins,Dep_hours,...,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai
0,Jet Airways,Delhi,Cochin,1.0,6.0,6.0,2019.0,4.0,25.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,IndiGo,Kolkata,Banglore,1.0,12.0,5.0,2019.0,10.0,20.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Jet Airways,Delhi,Cochin,1.0,21.0,5.0,2019.0,19.0,0.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Multiple carriers,Delhi,Cochin,1.0,21.0,5.0,2019.0,21.0,0.0,8.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Air Asia,Banglore,Delhi,0.0,24.0,6.0,2019.0,2.0,45.0,23.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0